@using AssistenzaTecnica.Models;

@{
    Richiesta r = Model;
    if (r.Id == 0)
    {
        ViewBag.Title = "Dettagli della nuova richiesta";
    }
    else
    {
        ViewBag.Title = "Dettagli della richiesta #" + r.Id;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-container">
    <form action="@Url.Action("SalvaDatiBaseRichiesta")" method="post">
        <input type="hidden" name="id" value="@r.Id" />
        <div class="input testo">
            <label>Testo della richiesta</label>
            <textarea name="testo">@r.Testo</textarea>
        </div>
        <div class="input testo">
            <label>Riferimento</label>
            <select name="IdRiferimento">
                @if (Utente.UtenteConnesso.Profilo == (int)Utente.ProfiliUtente.Cliente)
                {
                    foreach (Riferimento rif in ViewBag.AllRiferimenti.Values)
                    {
                        if (rif.IdUtente == Utente.UtenteConnesso.Id)
                        {
                            <option value="@rif.Id" selected>@rif.Descrizione</option>
                        }
                    }
                }
                else
                {
                    <option value="" @(r.IdRiferimento.HasValue ? "" : "selected")></option>
                    foreach (Riferimento rif in ViewBag.AllRiferimenti.Values)
                    {
                        <option value="@rif.Id" @(rif.Id == r.IdRiferimento ? "selected" : "")>@rif.Descrizione</option>
                    }
                }
            </select>
        </div>
        <div class="input">
            <input type="submit" name="salva-richiesta" value="Salva le modifiche" />
        </div>
    </form>

    @if (r.Id > 0)
    {
        <div class="elenco-dettagli">
            <h4>Stati:</h4>
            <table class="richieste">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Stato</th>
                        <th>Utente inserimento</th>
                        <th>Data inserimento</th>
                        <th>Assegnato a</th>
                        <th>Ore lavorate</th>
                        @if (Utente.UtenteConnesso.Profilo >= (int)Utente.ProfiliUtente.Organizzatore)
                        {
                            <th></th>
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (Richiesta.StatoRichiesta s in r.StoricoStati.Values)
                    {
                        <tr>
                            <td>@s.Id</td>
                            <td>@s.Stato.Descrizione</td>
                            <td>@s.Utente.Nome</td>
                            <td align="center">@s.DataAggiunta.ToString()</td>
                            <td>@(s.Assegnazione == null ? "" : s.Assegnazione.Nome)</td>
                            <td align="right">@s.OreLavorate.ToString("N2")</td>
                            @if (Utente.UtenteConnesso.Profilo >= (int)Utente.ProfiliUtente.Organizzatore)
                            {
                                <td align="center" class="detail" title="Visualizza" onclick="window.location.href = '@Url.Action("EditStoricoRichiesta", new { idStatoRichiesta = s.Id })'"><i class="fa fa-solid fa-magnifying-glass"></i></td>
                                <td align="center" class="detail" title="Elimina" onclick="eliminaStatoRichiesta(@r.Id, @s.Id, '@Url.Action("EliminaStoricoRichiesta", new { idStatoRichiesta = s.Id, idRichiesta = r.Id })')"><i class="fa fa-regular fa-trash-can"></i></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        if (Utente.UtenteConnesso.Profilo != (int)Utente.ProfiliUtente.Cliente)
        {
            <div class="input">
                <input type="submit" name="nuovo-stato-richiesta" value="Nuovo stato" onclick="window.location.href = '@Url.Action("NuovoStoricoRichiesta", new { idRichiesta = r.Id })'" />
            </div>
        }
        <script>
            function eliminaStatoRichiesta(idRichiesta, idStatoRichiesta, azioneEliminazione) {
                if (confirm("Si è certi di voler eliminare lo stato #" + idStatoRichiesta + " realtivo alla richiesta #" + idRichiesta + "?")) {
                    window.location.href = azioneEliminazione;
                }
            }
        </script>
    }
</div>
