@using AssistenzaTecnica.Models;

@{
    Richiesta.StatoRichiesta sr = Model;
    Utente utenteConnesso = Utente.UtenteConnesso;
    if (sr.Id == 0)
    {
        ViewBag.Title = "Dettagli del nuovo stato relativo alla richiesta #" + sr.IdRichiesta;
        sr.DataAggiunta = DateTime.Now;
    }
    else
    {
        ViewBag.Title = "Dettagli dello stato #" + sr.Id + " relativo alla richiesta #" + sr.IdRichiesta;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-container">
    <form action="@Url.Action("SalvaStatoRichiesta")" method="post">
        <input type="hidden" name="id" value="@sr.Id" />
        <input type="hidden" name="idRichiesta" value="@sr.IdRichiesta" />
        <div class="input testo">
            <label>Stato</label>
            <select name="IdStato">
                @foreach (Stato s in ViewBag.AllStati.Values)
                {
                    if (s.ProfiloMinimo <= utenteConnesso.Profilo)
                    {
                        <option value="@s.Id" @(s.Id == sr.Stato.Id ? "selected" : "")>@s.Descrizione</option>
                    }
                }
            </select>
        </div>
        <div class="input testo">
            <label>Utente</label>
            <select name="IdUtente">
                @if (utenteConnesso.Profilo == (int)Utente.ProfiliUtente.Amministratore)
                {
                    foreach (Utente u in ViewBag.AllUtenti.Values)
                    {
                        <option value="@u.Id" @(u.Id == sr.Utente.Id ? "selected" : "")>@u.Nome</option>
                    }
                }
                else
                {
                    <option value="@utenteConnesso.Id" selected>@utenteConnesso.Nome</option>
                }
            </select>
        </div>
        <div class="input testo">
            <label>Data inserimento stato</label>
            <input type="datetime" name="DataAggiunta" value="@sr.DataAggiunta" @(utenteConnesso.Profilo <= (int)Utente.ProfiliUtente.TecnicoOperativo ? "readonly" : "") />
        </div>
        <div class="input testo">
            <label>Assegnato a</label>
            <select name="IdAssegnazione" @(utenteConnesso.Profilo == (int)Utente.ProfiliUtente.TecnicoPrimoLivello ? "disabled" : "")>
                @if (utenteConnesso.Profilo == (int)Utente.ProfiliUtente.TecnicoOperativo)
                {
                    foreach (Assegnato a in ViewBag.AllAssegnati.Values)
                    {
                        if (a.IdUtente == utenteConnesso.Id)
                        {
                            <option value="@a.Id" selected>@a.Nome</option>
                        }
                    }
                }
                else
                {
                    <option value="" @(sr.IdAssegnazione.HasValue ? "" : "selected")></option>
                    foreach (Assegnato a in ViewBag.AllAssegnati.Values)
                    {
                        <option value="@a.Id" @(a.Id == sr.IdAssegnazione ? "selected" : "")>@a.Nome</option>
                    }
                }
            </select>
        </div>
        <div class="input testo">
            <label>Ore lavorate</label>
            <input type="text" name="OreLavorate" value="@sr.OreLavorate.ToString("N2")" />
        </div>
        <div class="input">
            <input type="submit" name="salva-stato-richiesta" value="Salva le modifiche" />
        </div>
    </form>
</div>
