@{
    ViewBag.Title = "Elenco Richieste";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, AssistenzaTecnica.Models.Richiesta> richieste = Model;
}

<div class="body-container">
    <table class="richieste">
        <thead>
            <tr>
                <th>
                    Id<br />
                    <input type="text" class="filtro" value="" onkeyup="applicaFiltroTestuale(this, 1)" />
                </th>
                <th>
                    Testo<br />
                    <input type="text" class="filtro" value="" onkeyup="applicaFiltroTestuale(this, 2)" />
                </th>
                <th>
                    Riferimento<br />
                    <select class="filtro" onchange="applicaFiltroTestuale(this, 3)">
                        <option value="" selected></option>
                        @foreach (AssistenzaTecnica.Models.Riferimento r in ViewBag.AllRiferimenti.Values)
                        {
                            <option value="@r.Descrizione">@r.Descrizione</option>
                        }
                    </select>
                </th>
                <th>
                    Stato<br />
                    <select class="filtro" onchange="applicaFiltroTestuale(this, 4)">
                        <option value="" selected></option>
                        @foreach (AssistenzaTecnica.Models.Stato s in ViewBag.AllStati.Values)
                        {
                            <option value="@s.Descrizione">@s.Descrizione</option>
                        }
                    </select>
                </th>
                <th>Data ultima modifica</th>
                <th>Ore lavorate</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (AssistenzaTecnica.Models.Richiesta r in richieste.Values)
            {
            <tr>
                <td>@r.Id</td>
                <td>@r.Testo</td>
                <td>@(r.Riferimento == null ? "" : r.Riferimento.Descrizione)</td>
                <td>@r.StatoCorrente.Stato.Descrizione</td>
                <td align="center">@r.StatoCorrente.DataAggiunta.ToString()</td>
                <td align="right">@r.OreLavorateTotali.ToString("N2")</td>
                <td align="center" class="detail" title="Visualizza" onclick="window.location.href = '@Url.Action("EditRichiesta", new { idRichiesta = r.Id })'"><i class="fa fa-solid fa-magnifying-glass"></i></td>
                <td align="center" class="detail" title="Elimina" onclick="eliminaRichiesta(@r.Id, '@Url.Action("EliminaRichiesta", new { idRichiesta = r.Id })')"><i class="fa fa-regular fa-trash-can"></i></td>
            </tr>
            }
        </tbody>
    </table>
    <div class="input">
        <input type="submit" name="nuova-richiesta" value="Nuova richiesta" onclick="window.location.href = '@Url.Action("NuovaRichiesta")'" />
    </div>
    <script>
        function eliminaRichiesta(idRichiesta, azioneEliminazione) {
            if (confirm("Si è certi di voler eliminare la richiesta #" + idRichiesta + "?")) {
                window.location.href = azioneEliminazione;
            }
        }

        function applicaFiltroTestuale(elementoFiltro, colonnaApplicata) {
            var testoFiltro = $(elementoFiltro).val().toLowerCase();

            var indiceRiga = 1;
            $('table.richieste tbody tr').each(function (idx, itm) {
                $(itm).hide();
                if ($(itm).children('td:nth-of-type(' + colonnaApplicata + ')').html().toLowerCase().indexOf(testoFiltro) >= 0) {
                    if (indiceRiga % 2 == 0) {
                        $(itm).css('background-color', '#f3f3f3');
                    } else {
                        $(itm).css('background-color', '#ffffff');
                    }
                    $(itm).show();
                    indiceRiga++;
                }
            });
        }
    </script>
</div>