@{ 
    string controllerName = Url.RequestContext.RouteData.Values["controller"].ToString().ToLower();
}

<nav>
    <ul>
        @if (AssistenzaTecnica.Models.Utente.UtenteConnesso != null)
        {
            <li class="@(controllerName == "home" ? "active" : "")" onclick="window.location.href='@Url.Action("Index", "Home")'">Gestione richieste</li>
        }
        @if (AssistenzaTecnica.Models.Utente.UtenteConnesso != null && AssistenzaTecnica.Models.Utente.UtenteConnesso.Profilo >= (int)AssistenzaTecnica.Models.Utente.ProfiliUtente.Organizzatore)
        {
            <li class="@(controllerName == "riferimenti" ? "active" : "")" onclick="window.location.href='@Url.Action("Index", "Riferimenti")'">Lista Riferimenti</li>
        }
        @if (AssistenzaTecnica.Models.Utente.UtenteConnesso != null && AssistenzaTecnica.Models.Utente.UtenteConnesso.Profilo >= (int)AssistenzaTecnica.Models.Utente.ProfiliUtente.Organizzatore)
        {
            <li class="@(controllerName == "assegnati" ? "active" : "")" onclick="window.location.href='@Url.Action("Index", "Assegnati")'">Lista Tecnici</li>
        }
        @if (AssistenzaTecnica.Models.Utente.UtenteConnesso != null && AssistenzaTecnica.Models.Utente.UtenteConnesso.Profilo >= (int)AssistenzaTecnica.Models.Utente.ProfiliUtente.Organizzatore)
        {
            <li class="@(controllerName == "stati" ? "active" : "")" onclick="window.location.href='@Url.Action("Index", "Stati")'">Gestione stati</li>
        }
        @if (AssistenzaTecnica.Models.Utente.UtenteConnesso != null && AssistenzaTecnica.Models.Utente.UtenteConnesso.Profilo == (int)AssistenzaTecnica.Models.Utente.ProfiliUtente.Amministratore)
        {
            <li class="@(controllerName == "utenti" ? "active" : "")" onclick="window.location.href='@Url.Action("Index", "Utenti")'">Gestione utenti</li>
        }
    </ul>
</nav>